.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    & {
      max-width: 704px;
    }
  }
  @media screen and (min-width: 769px) {
    & {
      max-width: 1619px;
    }
  }
}
