$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 360;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidth})
  );
}
