:root {
  --color-main-titles: #0f3c65;
  --color-btn-hover: #e8a83c;
  --color-darkbackground: #ffffff;
  --color-menu-text: #262626;

  --fonts-main: "Roboto", sans-serif;
  --fonts-footer-menu: "Montserrat", sans-serif;
}
